/*
	JFドット東雲ゴシック14
	License: Public Domain
*/

@font-face {
	font-family: 'JF Dot Shinonome Gothic 14';
	src: local('JF Dot Shinonome Gothic 14'),
		local('JF-Dot-Shinonome-Gothic-14'),
		url('JF-Dot-Shinonome14.woff2') format('woff2'),
		url('JF-Dot-Shinonome14.woff') format('woff'),
		url('JF-Dot-Shinonome14.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'JF Dot Shinonome Gothic 14';
	src: local('JF Dot Shinonome Gothic 14 Bold'),
		local('JF-Dot-Shinonome-Gothic-14-Bold'),
		url('JF-Dot-Shinonome14B.woff2') format('woff2'),
		url('JF-Dot-Shinonome14B.woff') format('woff'),
		url('JF-Dot-Shinonome14B.ttf') format('truetype');
	font-weight: bold;
}
