@import url('fonts/JF-Dot-Shinonome14/JF-Dot-Shinonome-Gothic-14.css');
@import url('index.new.GENERATED.css');

body {
	font-family: 'JF Dot Shinonome Gothic 14', sans-serif;
}

.main-content {
	margin: 0;
}

.mobile-top-padding {
	height: 48px;
}
.top-navigation {
	/*display: flex;*/
	display: none;
	flex-direction: column;
	justify-content: start;
	/*justify-content: space-between;*/
	align-items: stretch;
	/*margin: 0 auto;
	width: 256px;
	width: 80%;*/
	margin: 0;
	width: 100%;
	overflow-x: auto;
	position: relative;
}
.top-navigation > * {
	/*width: 80px;*/
	/*width: 100%;*/
	text-transform: uppercase;
	text-align: center;
	flex-grow: 1;
	flex-basis: 0;
	/*border: none !important;*/
	background-size: auto auto;
	background-color: black;
	color: white;
	/*background-attachment: fixed;*/
	/*padding: 4px 64px;*/
	padding: 24px 8px;
	/*transition: all 300ms 0s ease;*/
	transition: text-shadow 150ms 0s ease;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	/*text-shadow: 0px 1px 0px #FFFFFF;*/
	text-shadow: 0px 1px 8px #00000080;
	position: relative;
}
.top-navigation > *:hover, .top-navigation > *:focus {
	text-shadow: 0px 1px 8px #FFFFFF;
	z-index: 100;
}
.top-navigation::before, .top-navigation::after, .mobile-wrapper-top-navigation {
	background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(128, 128, 128, calc(64/256)) 10px, rgba(128, 128, 128, calc(64/256)) 12px), linear-gradient(180deg, transparent, rgba(128, 128, 128, calc(128/256)));
}
.top-navigation::before, .top-navigation::after {
	content: "";
	max-width: 10%;
	/*background-color: red;*/
	width: calc((100% - 800px)/2);
}
/*.top-navigation::before {
	position: absolute;
	content: "";
	*background-color: red;*
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
.top-navigation > * > span {
	z-index: 110;
}
.top-navigation > * > span:not(.triangle) {
	display: flex;
	align-items: center;
}
.top-navigation > * > span.triangle {
	position: absolute;
	bottom: -1px;
	width: 0px;
	height: 0px;
	border: 13px solid transparent;
	border-top: none;
	border-bottom: 13px solid #000000;
	margin-top: auto;
	margin-bottom: 0px;
}
.top-navigation > *::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/*transition-duration: 200ms;*/
	transition: opacity 150ms 0s ease;
	opacity: 0;
}
.top-navigation > *:hover::after, .top-navigation > *:focus::after {
	opacity: 1;
}
.top-navigation > * > span:not(.triangle) > img {
	margin-right: 8px;
	margin-left: 4px;
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
}
.mobile-wrapper-top-navigation > summary {
	float: right;
	padding: 0 32px;
	width: 64px;
	height: 100%;
	text-align:center;
	background: #33b5e580;
	text-shadow: 0px 1px 4px #000000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mobile-wrapper-top-navigation[open] > summary::before {
	content: 'CLOSE';
}
.mobile-wrapper-top-navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
}
.mobile-wrapper-top-navigation:not([open]) {
}
.mobile-wrapper-top-navigation[open] > summary {
	/*width: calc(100% - 32px);
	padding-right: 0;*/
}
.mobile-wrapper-top-navigation > .top-navigation::before {
	content: '';
	background-image: none;
	background-color: #00000080;
}
.mobile-wrapper-top-navigation > .top-navigation::after {
	height: calc(100vh);
	content: '';/*
	background-color: #00000080;
	background-image: none;*/
}
.mobile-wrapper-top-navigation > .top-navigation {
	display: flex;
}

hr {
	border: 0;
	background-color: white;
	width: auto;
	margin: 22px 2px;
	height: 2px;
}

/*h2 {
	width: 75%;
}*/

body {
	background-size: auto auto;
	background-color: black;
	/*background-image: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), repeating-linear-gradient(135deg, transparent, transparent 10px, blue 10px, blue 12px ), linear-gradient(180deg, black, blue);*/
	background-image: linear-gradient(180deg, rgba(0,0,0,0.9), rgba(0,0,0,0.5)), repeating-linear-gradient(135deg, transparent, transparent 10px, var(--top-navigation-home-color-darker) 10px, var(--top-navigation-home-color-darker) 12px ), linear-gradient(180deg, black, rgba(var(--top-navigation-home-color-r),var(--top-navigation-home-color-g),var(--top-navigation-home-color-b),calc(256/256)));
	color: white;
	background-attachment: fixed;
	margin: 0;
}

.code {
	background: #111111AA;
	padding: 8px 16px;
	overflow-x: auto;
}
ul li > .code, ul ol > .code, dl dt > .code, dl dd > .code {
	margin-left: -40px;
}

@media screen and (min-width: 800px) {
	.mobile-top-padding {
		height: 0;
	}
	.main-content {
		/*max-width: 1408px;*/ /* 1920px - 256px - 256px */
		/*max-width: 1200px;*/
		/*margin: 0 auto;*/
		/*margin: 0 64px;*/
		margin: 0 calc(0.128 * 100vw);
	}
	body {
		margin: 8px;
		margin: 0;
	}
	.top-navigation {
		margin: 0 auto;
		width: 100%;
		/*padding: 0 10%;*/
		margin: 0;
		flex-direction: row;
		display: flex;
	}
	.top-navigation > * {
		padding: 16px 8px;
	}
	.mobile-wrapper-top-navigation {
		display: none;
	}
	.top-navigation > * > span.triangle {
		border: 9px solid transparent;
		border-bottom: 9px solid #000000;
	}
	h1 {
		/*margin-left: 64px;*/
		margin-left: calc(0.128 * 100vw - 64px);
	}
	/*.main-content > h2 {
		margin-left: -48px;
	}
	.main-content > h3 {
		margin-left: -32px;
	}
	.main-content > h4 {
		margin-left: -16px;
	}
	.main-content > h5 {
		margin-left: -8px;
	}
	.main-content > h6 {
		margin-left: -4px;
	}*/
	ul li > .code, ul ol > .code, dl dt > .code, dl dd > .code {
		margin-left: auto;
	}
}
@media screen and (min-width: 1000px) {
	/*.main-content {
		margin: 0 128px;
	}
	h1 {
		margin-left: 128px;
	}*/
}

.top-navigation-wrapper {
	/*background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(128, 128, 128, calc(64/256)) 10px, rgba(128, 128, 128, calc(64/256)) 12px), linear-gradient(180deg, transparent, rgba(128, 128, 128, calc(128/256)));
	border-bottom: 3px solid var(--top-navigation-home-color);*/
}

a:not(.top-navigation > *):link {
	color: #33b5e5;
}
a:not(.top-navigation > *):visited {
	color: #b533e5;
}
a:not(.top-navigation > *):active {
	color: #b5b500;
}

.bg-anim {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-attachment: fixed;
	margin: 0;
	z-index: -1;
	opacity: 0%;
	visibility: hidden;
	animation: 0.15s ease-out 0s 1 normal forwards bg-anim-anim;
}

@keyframes bg-anim-anim {
	from {
		opacity: 100%;
		visibility: visible;
	}
	to {
		opacity: 0%;
		visibility: hidden;
	}
}

.nodot-list {
	list-style: none;
	padding-left: 16px;
}

.star-list {
	list-style: none;
}
.star-list li::before {
	content: "★ ";
	margin-left: -24px;
}

.top-navigation > .vline {
	display: none;
}
