body {
	font-size: 16px;
	line-height: 18px;
	font-family: 'Monapo', 'Mona', 'IPAMonaPGothic', 'IPA モナー Pゴシック', 'Togoshi Mona Gothic', '戸越モナーゴシック', 'MS PGothic', 'ＭＳ Ｐゴシック', sans-serif;
}

.top-navigation > * > span:not(.triangle) > img, .top-navigation > * > span.triangle, .mobile-top-padding, .mobile-wrapper-top-navigation {
	display: none;
}

.nodot-list {
	list-style: none;
	padding-left: 16px;
}

.star-list {
	list-style: none;
}
.star-list li::before {
	content: "★ ";
	margin-left: -24px;
}
