		<div class="top-navigation">
			<a class="top-navigation-home" href="/"><span><img src="../images/home.png" alt="Home icon">Top</span></a><span class="vline"> | </span>
			<a class="top-navigation-news" href="/news.php"><span><img src="../images/update.png" alt="Update icon">Change log</span></a><span class="vline"> | </span>
			<a class="top-navigation-links" href="/links.php"><span><img src="../images/links.png" alt="Chain icon">Links</span></a><span class="vline"> | </span>
			<a class="top-navigation-about" href="/about.php"><span><img src="../images/info.png" alt="Infomation icon">About</span></a><span class="vline"> | </span>
			<a class="top-navigation-settings" href="/settings.php" ><span><img src="../images/settings-alt.png" alt="Spanner icon">Settings</span></a><span class="vline"> | </span>
			<a class="top-navigation-oldpage" href="/index-old.php"><span><img src="../images/oldpages.png" alt="Old page icon">Old toppage</span></a>
		</div>
