		<div class="top-navigation">
			<a class="top-navigation-home" href="/"><span><img src="../images/home.png" alt="ホームアイコン">トップ</span></a><span class="vline"> | </span>
			<a class="top-navigation-news" href="/news.php"><span><img src="../images/update.png" alt="更新のアイコン">更新情報</span></a><span class="vline"> | </span>
			<a class="top-navigation-links" href="/links.php"><span><img src="../images/links.png" alt="鎖のアイコン">リンク集</span></a><span class="vline"> | </span>
			<a class="top-navigation-about" href="/about.php"><span><img src="../images/info.png" alt="情報のアイコン">概要</span></a><span class="vline"> | </span>
			<a class="top-navigation-settings" href="/settings.php" ><span><img src="../images/settings-alt.png" alt="スパナのアイコン">設定</span></a><span class="vline"> | </span>
			<a class="top-navigation-oldpage" href="/index-old.php"><span><img src="../images/oldpages.png" alt="旧ページのアイコン">旧トップページ</span></a>
		</div>
