<?php
	header('Content-type: text/css');
	switch ($_COOKIE["theme"]) {
		case "simplest":
			echo file_get_contents('index.new.files/simplest.css');
			break;
		case "simplest_dark":
			echo file_get_contents('index.new.files/simplest_dark.css');
			break;
		case "simplest_mona":
			echo file_get_contents('index.new.files/simplest_mona.css');
			break;
		case "simplest_dark_mona":
			echo file_get_contents('index.new.files/simplest_dark_mona.css');
			break;
		case "classic_a":
			echo file_get_contents('index.new.files/classic_a.css');
			break;
		case "stripe":
			echo file_get_contents('index.new.files/index.new.css');
			break;
		case "default":
		default:
			ob_start();
			include 'index.new.files/ismodern.php';
			if (ob_get_clean() == "true") {
				echo file_get_contents('index.new.files/index.new.css');
			} else {
				echo file_get_contents('index.new.files/simplest_dark.css');
			}
			break;
	}
	if ($_COOKIE["useMonaFont"] === "true") echo "\n" . file_get_contents('index.new.files/libmona.css');
?>
