/*
 Licensed under MIT/Expat license
 Copyright 2020-2021 NNN1590
 This CSS includes some from holo-web(https://github.com/ZMYaro/holo-web).
 It's original header:
*/
/* Honeycomb Holo Dark styles for elements
 * Part of the Holo Web CSS library
 *
 * Copyright 2012-2015 Zachary Yaro
 * Released under the MIT license
 * http://holo.zmyaro.com/LICENSE.txt
 */

body {
	background-color: #000;
	color: #ddd;
	padding-top: 8px;
	padding-bottom: 32px;
	margin: 8px;
}
body:before {
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#332C4C');  /* old versions of IE get  */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#332C4C')"; /* boring linear gradients */
	background-image: -webkit-gradient(radial, 5% 85%, 0, 5% 85%, 500, from(#332C4C), to(black));
	background-image: -webkit-radial-gradient(5% 85%, 100% 20%, #332C4C 5%, black);
	background-image:    -moz-radial-gradient(5% 85%, 100% 20%, #332C4C 5%, black);
	background-image:     -ms-radial-gradient(5% 85%, 100% 20%, #332C4C 5%, black);
	background-image:      -o-radial-gradient(5% 85%, 100% 20%, #332C4C 5%, black);
	background-image:         radial-gradient(5% 85%, 100% 20%, #332C4C 5%, black);
}
body:before { /* This is used for the background gradient */
	z-index: -1000;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
@media screen and (min-width:1000px){
	body {
		/*width: 70%;*/
		margin: 0 256px;
	}
	hr {
		margin: 8px 0;
	}
}

hr {
	margin: 8px -8px;
	border: 0;
    /*margin: 16px -16px;*/
    width: auto;
    height: 2px;
    background-color: #eee;
    border-radius: 0px;
    box-shadow: 0 0 4px 0px #eee;
    animation: normalHrAnim 3s infinite linear alternate;
}
hr.holoBlueLine {
	/*margin: 16px -32px;*/
	background-color: #33B5E5;
    box-shadow: 0 0 10px 1px #33B5E5FF;
    animation: blueHrAnim 3s infinite linear alternate;
    transition-delay: 1.5s;
}
@keyframes normalHrAnim {
	0%   {box-shadow: 0 0 4px 0px #eee;}
	100% {box-shadow: 0 0 2px 0px #eee;}
}
@keyframes blueHrAnim {
	0%   {box-shadow: 0 0 10px 1px #33B5E5FF;}
	100% {box-shadow: 0 0 5px  1px #33B5E5FF;}
}

img, ul, li, li > a {
	max-width: 100%;
	word-break: break-all;
}

ul {
	padding-bottom: 8px;
	overflow-x: auto;
	white-space: nowrap;
	margin: 0 -8px;
}

li, li > a:last-child {
	padding-right: 8px;
	margin-right: 8px;
}

/*a {
	color: #33b5e5;
}*/
a:link {
	color: #33b5e5;
}
a:visited {
	color: #a6c;
}
a:active {
	color:#f44; 
}

#headerimg {
	filter: brightness(200%);
	transition: filter 0.25s;
	transition-timing-function: ease-in;
	/*animation: headerimgAnim 3s infinite linear alternate;*/
}
#headerimg:hover {
	filter: brightness(300%);
	transition-timing-function: cubic-bezier(0.43,-0.59, 0.25, 2.17);
}
@keyframes headerimgAnim {
	0%   {filter: brightness(150%);}
	100% {filter: brightness(200%);}
}
